.chapterlist-main-container {
  position: absolute;
  top: 70px;
  background-color: white;
  width: 87%;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  font-family: "PT Sans Narrow";
}
.chapterlist-text {
  color: black;
  opacity: 7;
}

.chapterlist-text:hover {
  background-color: beige;
}
