.switch {
  --inactive-bg: #cfd8dc;
  --active-bg: #00e676;
  --size: 1.2rem;
  appearance: none;
  width: calc(var(--size) * 2.2);
  height: var(--size);
  display: inline-block;
  border-radius: calc(var(--size) / 2);
  cursor: pointer;
  background-color: var(--inactive-bg);
  background-image: radial-gradient(
      circle calc(var(--size) / 2.1),
      #fff 100%,
      #0000 0
    ),
    radial-gradient(circle calc(var(--size) / 1.5), #0003 0%, #0000 100%);
  background-repeat: no-repeat;
  background-position: calc(var(--size) / -1.75) 0;
  transition: background 0.2s ease-out;
}

.switch2 {
  --inactive-bg: #cfd8dc;
  --active-bg: rgb(217, 83, 79);
  --size: 1.2rem;
  appearance: none;
  width: calc(var(--size) * 2.2);
  height: var(--size);
  display: inline-block;
  border-radius: calc(var(--size) / 2);
  cursor: pointer;
  background-color: var(--active-bg);
  background-position: calc(var(--size) / 1.75) 0;
  background-image: radial-gradient(
      circle calc(var(--size) / 2.1),
      #fff 100%,
      #0000 0
    ),
    radial-gradient(circle calc(var(--size) / 1.5), #0003 0%, #0000 100%);
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
}

.switch2:checked {
  background-color: var(--active-bg);
  background-position: calc(var(--size) / 1.75) 0;
}

@media screen and (max-width: 500px) {
  .switch {
    --size: 0.9rem;
  }

  .switch2 {
    --size: 0.9rem;
  }

  .switch2:checked {
    background-color: var(--active-bg);
    background-position: calc(var(--size) / 1.75) 0;
  }
}
